
build/vc2008/BigNumbersParser.ncb
build/vc2008/BigNumbersParser.suo
build/vc2008/lib/Debug
build/vc2008/lib_test/Debug
build/vc2008/lib_test/BigNumbersParserTest.vcproj.Computer.Denis.user
build/vc2008/lib/BigNumbersParser.vcproj.Computer.Denis.user
build/vc2008/lib/Release/
build/vc2008/lib_test/Release/